<img src="{{ customer.profile_image.url }}" class="card-img-top">
                                <h5>Name: {{ customer.user.first_name }} {{ customer.user.last_name }}</h5>
                                <p><strong>Age:</strong> {{ customer.age }}</p>
                                <p><strong>Gender:</strong> {{ customer.gender }}</p>
                                <p><strong>Mobile:</strong> {{ customer.contact_no }}</p>
                                <p><strong>Caste:</strong> {{ customer.caste }}</p>
                                <p><strong>Job:</strong> {{ customer.job }}</p>
                                <p><strong>Marital Status:</strong> {{ customer.marital_status }}</p>
                                <p><strong>District:</strong> {{ customer.district }}</p>
                                <p><strong>Job Department:</strong> {{ customer.job_department }}</p>
                                <p><strong>Company:</strong> {{ customer.company }}</p>
                                <p><strong>Physical Condition:</strong> {{ customer.physical_condition }}</p>
                                <p><strong>Birth Time:</strong> {{ customer.time_birth }}</p>
                                <p><strong>Birth Place:</strong> {{ customer.place_birth }}</p>
                                <p><strong>Date Of Birth:</strong> {{ customer.dob }}</p>


                            </div>
                            <div class="col-md-6">
                                <p><strong>Height:</strong> {{ customer.height }}</p>
                                <p><strong>Weight:</strong> {{ customer.weight }}</p>
                                <p><strong>Complexion:</strong> {{ customer.complexion }}</p>
                                <p><strong>Education:</strong> {{ customer.education }}</p>
                                <p><strong>Father's Name:</strong> {{ customer.father_name }}</p>
                                <p><strong>Mother's Name:</strong> {{ customer.mother_name }}</p>

                                <p><strong>Address:</strong> {{ customer.address }}</p>
                                <p><strong>Star:</strong> {{ customer.star }}</p>
                                <p><strong>Married Sisters:</strong> {{ customer.married_sisters }}</p>
                                <p><strong>Married Brothers:</strong> {{ customer.married_brothers }}</p>
                                <p><strong>Father Job:</strong> {{ customer.father_job }}</p>
                                <p><strong>Mother Job:</strong> {{ customer.mother_job }}</p>
                                <p><strong>Income:</strong> {{ customer.income }}</p>
                                <p><strong>Job City:</strong> {{ customer.job_city }}</p>
                                <p><strong>City:</strong> {{ customer.city }}</p>
                                <p><strong>Post:</strong> {{ customer.post }}</p>
                                <p><strong>Pin Code:</strong> {{ customer.pin_code }}</p>
                                <p><strong>Street:</strong> {{ customer.street }}</p>
                                <p><strong>House Name:</strong> {{ customer.house_name }}</p>

